* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  background-color: black;
  color: #EEE;
  font-family: sans-serif;
  text-align: center;
}

#journey {
  position: relative;
  padding: 0;
  height: 120px;
  margin-left: 50px;
  margin-right: 50px;
}

#path {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 12px;
  padding: 2px;
  left: 0;
  top: 70px;
  background-color: #111;
  color: #AAA;
  text-align: center;
  overflow: hidden;
}

#date {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 12px;
  padding: 2px;
  left: 0;
  top: 20px;
  background-color: #111;
  color: #AAA;
  text-align: center;
  overflow: hidden;
}

#left {
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0%;
  top: 40px;
  background-color: #333;
  text-align: left;
  padding-top: 0;
  padding-left: 50px;
  overflow: hidden;
  font-size: 12px;
}

#travelled {
  position: absolute;
  width: 0%;
  height: 30px;
  left: 0;
  top: 40px;
  background-color: #0A0;
  padding-top: 0;
  text-align: right;
  overflow: hidden;
  font-size: 12px;
}

#instructions {
  margin-bottom: 20px;
}

#dropbox {
  color: #999;
  border: 2px dashed #999;
  border-radius: 10px;
  width: 500px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  text-align: center;
  font-size: 30px;
  padding-top: 120px;
}

#dropbox.dragging {
  border: 2px solid #EEE;
  color: #EEE;
}

#earth, #moon, #rocket {
  display: block;
  position: absolute;
}

#earth {
  left: -50px;
  top: 5px;
}

#moon {
  right: -50px;
  top: 5px;
}

#rocket {
  top: 40px;
  left: 0%;
  margin-left: -20px;
}

a {color: #C94; text-decoration: none;}
a:hover {text-decoration: underline;}
a:link, a:visited, a:active { color: #C94; }
