<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Journey to the Moon</title>
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/flaticon.css">
    <link rel="stylesheet" href="/styles/card.css">
    <link rel="stylesheet" href="/styles/journey.css">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:description" content="{{ description }}">
    <script src="https://www.google.com/jsapi"></script>
  </head>
  <body>
    <div class="header">
      <h3>Journey to the Moon</h3>
    </div>
    <div class="container">
      {% if compare %}
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-heading simple">Target</div>
            <div class="journey">
              <div class="celestialBodies">
                <div class="flaticon-earth16 earth"></div>
                <div class="flaticon-moon2 moon"></div>
              </div>
              <div class="trajectory"></div>
              <div class="progressLayer">
                <div class="rocketExhaust" style="width: {{ percent }}%;"></div>
              </div>
              <div class="rocketPath">
                <span class="rocket flaticon-rocket12 rotate90" style="left: {{ percent }}%;"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            {% if compare %}
            <div class="card-heading simple">You</div>
            {% endif %}
            <div class="journey">
              <div class="celestialBodies">
                <div class="flaticon-earth16 earth"></div>
                <div class="flaticon-moon2 moon"></div>
              </div>
              <div class="trajectory"></div>
              <div class="progressLayer">
                <div id="rocketExhaust" class="rocketExhaust"></div>
              </div>
              <div class="rocketPath">
                <span id="rocket" class="rocket flaticon-rocket12 rotate90"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
             <div class="card-body" id="progressKM">
               0 / 384,400 km (384,400 left)<br><br>
             </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
             <div class="card-body" id="progressMiles">
               0 / 238,855 miles (238,855 left)<br><br>
             </div>
          </div>
        </div>
      </div>
      <div class="row finished" style="display: none;">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body centered">
              <button id="share">
                <span class="icon">&nbsp;</span>
                <span>Share your progress</span>
              </button><br><br>
              <p class="disclaimer">
              Share your progress with your contacts and let them compare their progress with yours. Note that this will ask you to Sign-in and connect with your Google+ Account (unless you have already previously signed in). This is required for the <a href="https://developers.google.com/+/features/interactive-posts" target="_blank">interactive post functionality</a>. We won't store any of your data and you can visit <a href="https://plus.google.com/apps" target="_blank">plus.google.com/apps</a> to disconnect from this app completely.</p><br>
            </div>
          </div>
        </div>
      </div>
      <div class="row init running">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body centered" id="status">
              Download your Location History from <a href="https://www.google.com/takeout">google.com/takeout</a> and drag the JSON file into the box below.<br>
              All data will be analysed locally on your computer, nothing is uploaded to our server.<br><br>
            </div>
          </div>
        </div>
      </div>
      <div class="row finished" style="display: none;">
        <div class="col-md-12">
          <div class="card">
            <div id="country_chart"></div>
          </div>
        </div>
      </div>
      <div class="row finished" style="display: none;">
        <div class="col-md-6">
          <div class="card table">
            <div id="countries"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card table">
            <div id="cities"></div>
          </div>
        </div>
      </div>
      <div class="row init">
        <div class="col-md-12">
          <div class="card">
            <input type="file" id="upload">
            <div id="dropbox"><i class="flaticon-box2"></i> <b>Start your journey here</b></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <a href="https://plus.google.com/100649943411152177837" rel="publisher">Journey to the Moon</a> developed by <a href="https://google.com/+GerwinSturm">Gerwin Sturm</a><br>
      Contributions by <a href="https://google.com/+SebastianMauer/">Sebastian Mauer</a> &amp; <a href="https://google.com/+TimWintle">Tim Wintle</a> /
      <a href="https://github.com/Scarygami/journey-to-the-moon">Source code on Github</a><br><br>
      Images licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY 3.0</a>:
      <a href="http://www.flaticon.com/free-icon/earth_24390">Earth by Icomoon</a>,
      <a href="http://www.flaticon.com/free-icon/moon_2344">Moon by Freepik</a>,
      <a href="http://www.flaticon.com/free-icon/rocket-black-ship_28356">Rocket by Freepik</a>,
      <a href="http://www.flaticon.com/free-icon/box-with-arrow-representing-upload_567">Upload box by Freepik</a><br>
      Geo-coding data licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY 3.0</a> by <a href="http://www.geonames.org/">geonames.org</a><br>
    </div>
    <script src="/scripts/journey.js"></script>
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>
  </body>
</html>